<div class="card p-4 shadow-sm">
  <h3 class="card-title">Quick Links</h3>
  <ul class="list-unstyled">
    <li><a href="#">8-Balls</a></li>
    <li><a href="#">Cues & Sticks</a></li>
    <li><a href="#">Tables</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <div class="mt-3">
    <h5>Follow us</h5>
    <div class="social-icons">
      <a class="mr-2" href="#"><i class="fab fa-github fa-lg"></i></a>
      <a class="mr-2" href="#"><i class="fab fa-twitter fa-lg"></i></a>
      <a class="mr-2" href="#"><i class="fab fa-youtube fa-lg"></i></a>
      <a class="mr-2" href="#"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a class="mr-2" href="#"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
  </div>
</div>
